aiofiles==0.6.*
aniso8601==7.0.*
certifi==2020.12.*
chardet==4.0.*
click==7.1.*
fastapi==0.66.*
graphene==2.1.*
graphql-core==2.3.*
graphql-relay==2.0.*
h11==0.12.*
idna==3.2
promise==2.3
pydantic==1.8.*
requests==2.25.*
Rx==1.6.*
six==1.15.*
starlette==0.14.*
typing-extensions==3.10.0.0
urllib3==1.26.*
uvicorn==0.14.*
